.angela-icon {
    background-image: url("images/angela.jpg");
}

.berte-icon {
    background-image: url("images/berte.jpeg");
}

.birgit-icon {
    background-image: url("images/birgit.jpg");
}

.fran-icon {
    background-image: url("images/fran.jpg");
}

.javier-garcia-icon {
    background-image: url("images/javier-garcia.jpg");
}

.javier-burgos-icon {
    background-image: url("images/javier-burgos.jpg");
}

.nelo-icon {
    background-image: url("images/nelo.jpg");
}

.oscar-icon {
    background-image: url("images/oscar.jpg");
}

.paola-icon {
    background-image: url("images/paola.jpg");
}

.patri-icon {
    background-image: url("images/patri.jpg");
}

.tanja-icon {
    background-image: url("images/tanja.jpg");
}

.victor-icon {
    background-image: url("images/victor_icon.jpg");
}

.vinh-icon {
    background-image: url("images/vinh.jpg");
}

.funko-icon {
    background-image: url("images/funko.jpg");
}

.dani-icon {
    background-image: url("images/dani.jpg");
}